// bg colors
$bg_main: #fff;
$bg_second: #fbfbfb;
$bg_third: #f2f3f5;

// text colors
$text_title: #1a3444;
$text_subtitle: #454545;
$text_desc: #737373;
$text_light: #fff;

// another colors
$info: #38bcea;
